body
{
  color: white;
  background: #02036f;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 4px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(255, 255, 255);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  font-size:20px;
  border-radius: 10px;
  letter-spacing: 10px;
}

